<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="LogglyTarget"/>
	</extensions>
	<targets>
		<target name="Loggly" xsi:type="Loggly" URL="https://logs.loggly.com/inputs/ff550b6c-9095-4023-868a-182729a9d1a6" bufferNumber="5" shouldBuffer="False"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="Loggly" />
	</rules>
</nlog>
