<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitSharp" version="0.3" />
  <package id="LibGit2Sharp" version="0.3" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="NLog.Config" version="2.0.0.2000" />
  <package id="SharpZipLib" version="1.3.3" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" />
  <package id="Winterdom.IO.FileMap" version="2.0.2.0" />
</packages>